<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>regular-homepage</title>

        <link rel="stylesheet" href="{% static "regular/css/home.css" %}">
        <!---
        --->
    </head>
    <body>
        <div class="mytext">
            <p>Welcome to Regular Home Page</p>
            <p>Choose your options from below</p>
        </div>
        <div class="mylink">
            <ul>
                <li><a href="#">regular1</a></li>
                <li><a href="#">regular2</a></li>
            </ul>
        </div>
    </body>
</html>
