<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>tracker-homepage</title>
        <link rel="stylesheet" href="{% static "tracker/css/home2.css" %}">

        <!---
        <link rel="stylesheet" href="{% static "tracker/css/index.css" %}">
        --->
    </head>
    <body>
        <div class="mytext">
            <p>Welcome to Tracker Home Page</p>
            <p>Choose your options from below</p>
        </div>
        <div class="mylink">
            <ul>
                <li><a href="#">regular</a></li>
                <li><a href="#">occasional</a></li>
            </ul>
        </div>
    </body>
</html>
